html, body {
  margin: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  background-color: #222222;
  background: repeating-linear-gradient(45deg, #2b2b2b 0%, #2b2b2b 10%, #222222 0%, #222222 50%) 0 / 15px 15px;

}

@font-face{
  font-family: "OS-Light";
  src: url('../Fonts/ostrich-sans-master/OstrichSans-Light.otf');
}
@font-face{
  font-family: "OS-Medium";
  src: url('../Fonts/ostrich-sans-master/OstrichSans-Medium.otf');
}
@font-face{
  font-family: "OS-Rounded-Medium";
  src: url('../Fonts/ostrich-sans-master/OstrichSansRounded-Medium.otf');
}
@font-face{
  font-family: "OS-Heavy";
  src: url('../Fonts/ostrich-sans-master/OstrichSans-Heavy.otf');
}
@font-face{
  font-family: "OS-Black";
  src: url('../Fonts/ostrich-sans-master/OstrichSans-Black.otf');
}
@font-face{
  font-family: "OS-Bold";
  src: url('../Fonts/ostrich-sans-master/OstrichSans-Bold.otf');
}

#bgStyle {
  position: fixed;
  width: 300px;
  padding-left: 5%;
  padding-top: 5%;
}

#mainContainer {
  position: absolute;
  width: 70%;
  height: 100%;
  left: 15%;
  right: 10%;
}

#title {
  height: 10%;
  font-size: 250%;
  text-align: center;
  color: white;
  font-family: Arial;
}

#intro {
  position: relative;
  top: 30%;
  margin-left: 40%;
  font-size: 20px;
  color: white;
  font-family: calibri;
  text-align: center;
}

#introName {
  position: relative;
  font-size: 100px;
  font-family: OS-Black;
}

#introDev {
  position: relative;
  margin-top: -30px;
  font-size: 53px;
  font-family: OS-Black;
}

#introContent {
  font-family: Consolas;
}

.containerTitle {
  color: white;
  font-size: 20px;
  font-family: Arial;
  text-align: center;
}


#mainMenu {
  position: absolute;
  width: 15%;
  height: 40%;
  top: 30%;
}

.menuLink {
  display: block;
  font-size: 250%;
  margin-bottom: 50px;
}

.menuButton {
  position: relative;
  display: block;
  background-image: url(../Images/Icons/menu_bt.png);
  background-repeat: no-repeat;
  background-size: 250px 100px;
  width: 250px;
  height: 100px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  font-family: OS-Black;
  font-size: 20px;
  margin-bottom: 40px;
}
.menuButton:hover {
  background-image: url(../Images/Icons/menu_bt_hover.png);
  color: white;
  cursor: pointer;
  transition: .15s;
}
