.skillContainer {
  position: relative;
  float: left;
  background-color: #777;
  margin-bottom: 5%;
  margin: 2%;
  width: 46%;
}

.skillBlock {
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  box-shadow: 0px 0px 10px black;
  font-family: Arial;
  font-weight: bold;
  color: white
}

.skillLevel {
  position: float;
  float: right;
}